/*==============================================
    Brand One
===============================================*/
.brand-one {
    position: relative;
    display: block;
    padding: 60px 0 51px;
    border-top: 1px solid rgba(var(--helpest-black-rgb), .10);
    z-index: 1;
}

.brand-one__carousel {
    position: relative;
    display: block;
}

.brand-one__single {
    position: relative;
    display: block;
    text-align: center;
    z-index: 1;
}

.brand-one__img {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.brand-one__img>img {
    position: relative;
    -webkit-transition: 500ms;
    transition: 500ms;
    opacity: 0.30;
}

.brand-one__single:hover .brand-one__img img {
    opacity: 0.50;
}






/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/